:root {
  /* FONT SIZE */
  --font-xs: 11px;
  --font-sm: 13px;
  --font-sub-md: 17px;
  --font-lg: 21px;
  --font-md: 16px;

  /* COLOR  */
  --bg-black: #000000;
  --bg-gray-76: #c2c2c2;
  --bg-Hawkes-blue: #d8d9db;
}

.navbar-input {
  border-bottom: 1px solid var(--bg-black);
  width: 300px;
}
@media (max-width: 991px) {
  .navbar-input {
    width: 200px;
  }
}

.header-text {
  color: #636363;
  list-style: none;
  font-weight: 500;
  cursor: pointer;
}

.header-text:hover {
  color: var(--bg-black);
}

.hover-sidebar {
  width: 555px !important;
  z-index: 13 !important;
  position: fixed;
  left: 0px !important;
  height: 100vh !important;
  transition: 0.4s !important;
  background-color: white !important;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 5%);
}

.hover-sidebar1 {
  width: 555px;
  z-index: 13;
  position: fixed;
  left: -555px;
  height: 100vh;
  transition: 0.2s;
  /* background-color: red;    */
}

.width {
  width: 300px;
}

.navbar {
  height: 56px;
}

.result {
  background-color: white;
  /* height: 400px; */
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 5%);
  width: 100%;
  z-index: 2;
  top: 0px;
  position: absolute;
}

.cross-icon {
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 5%);
  background-color: white;
  height: 27px;
  width: 27px;
  border-radius: 50%;
}

.cursor-pointer {
  cursor: pointer;
}

/* check box */
.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 25px;
  position: absolute;
  margin-left: -8px;
  width: 25px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  display: none;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
/* .offcanvas-backdrop.show {
  opacity: ;
} */
.top-sidebar {
  border-bottom: 1px solid #c2c2c2;
  font-size: 40px;
  font-weight: 400;
  color: #c2c2c2;
  /* padding-bottom: 20px; */
}

input:focus {
  outline: none;
}

.top-sidebar-para {
  font-size: 14px;
  font-weight: 500;
  color: gray;
}

.top-sidebar-para:hover {
  color: var(--bg-black);
  cursor: pointer;
}

.hover-sidebar-text:hover {
  transform: translate(5px, 0);
  transition: all 0.3s ease-in-out;
}

.hover-sidebar-para:hover {
  transform: translate(5px, 0);
  transition: all 0.3s ease-in-out;
}

.top-sidebar-heading {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.hover-sidebar-text {
  font-size: 21px;
  font-weight: 600;
  color: black;
  transition: all 0.3s ease-in-out;
}

.text-red {
  color: red;
}

.hover-sidebar-para {
  font-size: 13px;
  font-weight: 400;
  color: #000000;
  /* margin-top: 10px; */
  margin-bottom: 9px;
  transition: all 0.3s ease-in-out;
}

.carousel-control-next-icon {
  opacity: 1;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
  opacity: 1;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.modal-backdrop.show {
  opacity: 0;
}

.mw-200 {
  max-width: 200px;
}
.border-top {
  border-top: 1px solid #e9e9e9;
}
.border-bottom {
  border-bottom: 1px solid #e9e9e9;
}
.discover-btn {
  background-color: black;
  color: white;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.discover-btn:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
}

.basket-heading {
  font-size: 17px;
  font-weight: 500;
  color: black;
}

.basket-para {
  font-size: 15px;
  font-weight: 400;
  color: black;
}

.line {
  width: 135px;
  height: 2px;
  background: #6d6d6d;
  opacity: 0.4;
}

.my-basket {
  font-size: 25px;
  font-weight: 500;
  color: #000000;
}

.facebook-btn {
  background-color: #4267b2;
  padding: 10px 32px 10px;
  width: 100%;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
}

.login-heading {
  font-size: 21px;
  font-weight: 500;
  color: black;
}

.login-small-text {
  font-size: 11px;
  color: black;
  font-weight: 400;
}

.bold-text {
  font-weight: 600;
  cursor: pointer;
}

.login-para {
  font-size: 13px;
  font-weight: 400;
  color: #000000;
}

/*  */
.offcanvas-top {
  height: 45vh;
}

.btn-close:focus {
  box-shadow: 0 0 0 0.25rem transparent;
  opacity: 1;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--bg-black);
  padding: 5px;
  font-weight: 400;
  border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: var(--bg-black);
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.navbar-icon {
  cursor: pointer;
  transition: 0.2s;
}

.navbar-icon:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.login-input {
  border: 1px solid #c2c2c2;
  font-size: 13px;
  font-weight: 400;
  padding: 10px;
  padding: 10px 15px;
  border-radius: 5px;
}

.login-input::placeholder {
  color: #c2c2c2;
}

.lable-para {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
}

.forgot-text {
  font-size: 12px;
  color: black;
  font-weight: 600;
}

.login-btn {
  background-color: black;
  color: white;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.login-btn:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
}

.slick-next:before,
.slick-prev:before {
  background-color: black;
  border-radius: 50%;
}

.view-text {
  color: #636363;
  font-weight: 400;
}

.number-text {
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;

  box-shadow: 0 0 2px rgb(0 0 0 / 15%);
}

.number-text:hover {
  background-color: var(--bg-black);
  color: white;
}

.left-right-arrow {
  background-color: white;
  height: 27px;
  width: 27px;
  border-radius: 50%;

  box-shadow: 0 0 2px rgb(0 0 0 / 15%);
}

.rectangle-red {
  border: 0.8px solid transparent;
  border-radius: 3px;
  width: 16px;
  height: 4px;
  background-color: red;
}

.rectangle-white {
  background-color: #979797;
  border: 0.8px solid transparent;
  border-radius: 3px;
  width: 16px;
  height: 4px;
}

.rectangle-brown {
  background-color: rgb(110, 80, 60);
  border: 0.8px solid transparent;
  border-radius: 3px;
  width: 16px;
  height: 4px;
}

.rectangle-black {
  background-color: var(--bg-black);
  border: 0.8px solid transparent;
  border-radius: 3px;
  width: 16px;
  height: 4px;
}

.rectangle-blue {
  background-color: rgb(0, 0, 255);
  border: 0.8px solid transparent;
  border-radius: 3px;
  width: 16px;
  height: 4px;
}

.rectangle-grey {
  background-color: rgb(144, 144, 144);
  border: 0.8px solid transparent;
  border-radius: 3px;
  width: 16px;
  height: 4px;
}

.new-text {
  color: #636363;
}

.hover-sidebar-text-red {
  color: red;
}

.rectangle-pink {
  background-color: rgb(246, 125, 146);
  border: 0.8px solid transparent;
  border-radius: 3px;
  width: 16px;
  height: 4px;
}

.rectangle-violet {
  background-color: rgb(139, 121, 174);
  border: 0.8px solid transparent;
  border-radius: 3px;
  width: 16px;
  height: 4px;
}

.rectangle-orange {
  background-color: rgb(252, 147, 3);
  border: 0.8px solid transparent;
  border-radius: 3px;
  width: 16px;
  height: 4px;
}

/* footer */
.footer-link {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 400;
}

.footer-link:hover {
  color: black;
  opacity: 0.8;
}

ul {
  list-style: none;
  padding-left: 0;
}

.footer-heading {
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.footer-para {
  font-size: 14px;
  font-weight: 400;
  color: #8c8c8c;
}
.max-width-200 {
  max-width: 200px;
}
svg {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

svg:hover {
  transform: translate(0, -5px);
  transition: all 0.3s ease-in-out;
}

.text-orange {
  color: orange;
}

.text-gray {
  color: gray;
}

.modal-backdrop {
  display: none;
}

.slick-next:before,
.slick-prev:before {
  font-size: 40px;
}

.center .slick-next {
  right: 50px;
}

.center .slick-prev {
  left: 50px;
  z-index: 11;
}

/* bootsrtap */
@media (min-width: 768px) {
  .bootstrap-carousel .carousel-control-next {
    right: -182px;
  }
  .bootstrap-carousel .carousel-control-prev {
    left: -182px;
  }
}
.carousel-text {
  font-size: 20px;
}
